@import "./../../../components/variables";

.disclaimer {
  max-width: $width-blog;
  margin: 0 auto $se-md auto;
  padding: $se-sm;
}

.panels_list {
  max-width: $width-blog;
  margin: 0 auto $se-xl auto;
}

.panel_list_item {
  display: block;
  padding: $se-sm;
  margin-bottom: $se-sm;
  background-color: $color-off-white;
}

.description {
  margin-bottom: $se-sm;
}

.lab_header {
  border-bottom: solid 1px #cccccc;
  margin-bottom: $se-sm;
  text-align: center;
}
.lab_heading {
  font-size: 2rem;
}

.recommended {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: $se-xs;
}

.lab_contents {
  column-count: 2;
}
.lab_list_container {
  padding: $se-xs 0;
}
.labs_list_heading {
  font-size: 1.3rem;
  font-weight: 800;
  margin-bottom: $se-xs;
}
.labs_list {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 2rem;
}

.labs_list_item {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.purchase_button {
  text-align: center;
  margin: $se-sm 0;
}

.section_newsletter {
  margin-bottom: $se-xl;
}
