@import "./../components/variables";
.header {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.hero_wrapper {
  max-height: 700px;
  position: relative;
}

.hero_heading {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 800;
}

.hero_image_desktop {
  @media only screen and (max-width: 700px) {
    display: none;
  }
}

.hero_image_mobile {
  display: none;
  @media only screen and (max-width: 700px) {
    display: block;
  }
}

.hero_overlay {
  position: absolute;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    rgba($color-black, 0.2),
    rgba($color-black, 0.1),
    rgba($color-black, 0)
  );
}

.cta_wrapper {
  position: relative;
  max-width: $width-max;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  @media only screen and (max-width: 475px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.cta {
  position: absolute;
  top: 25%;
  left: 20%;
  color: $color-white;
  max-width: 40rem;
  width: 100%;

  @media only screen and (max-width: 700px) {
    top: 35%;
    left: 10%;
  }

  @media only screen and (max-width: 475px) {
    width: 100%;
    max-width: 100%;
    text-align: center;
    left: 0;
  }
}

.cta_button {
  margin: $se-sm 0;
  @media only screen and (max-width: 475px) {
    text-align: center;
  }
}

.section {
  padding: $se-lg $se-sm;
  max-width: $width-content;
  margin: 0 auto;
}

.superlead_content {
  margin: 0 auto;
  padding: $se-md;
  max-width: $width-content;
  background-color: $color-off-white;
}

.headshot {
  max-width: 300px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto $se-lg auto;
}

.services_container_narrow {
  margin: 0 auto;
  max-width: $width-blog;
}

.button_container {
  text-align: center;
  margin: $se-md 0 $se-sm 0;
}

.service {
  margin: $se-sm $se-xs $se-lg $se-xs;
  max-width: 100%;
  &:not(:last-of-type) {
    border-bottom: solid 2px rgba($color-black, 0.2);
    padding-bottom: $se-lg;
  }
}

.section_icon {
  font-size: 12rem;
  text-align: center;
  margin-bottom: $se-md;
}

.section_lead {
  @extend %lead-text;
  margin-bottom: $se-sm;
}

.display {
  max-width: $width-content;
  margin: 0 auto;
  width: 100%;
  display: flex;
  padding-bottom: $se-md;

  &:nth-of-type(odd) {
    flex-direction: row-reverse;
  }

  &:not(:last-of-type) {
    border-bottom: solid 2px #eeeeee;
    margin-bottom: $se-md;
  }

  @media only screen and (max-width: 650px) {
    flex-direction: column-reverse;
    &:nth-of-type(odd) {
      flex-direction: column-reverse;
    }
  }
}

.display_content {
  flex: 1;
  padding: $se-sm;
  margin: auto 0;
}

.display_image {
  width: 100%;
  min-width: 10rem;
  border-radius: 10px;
  overflow: hidden;
}

.display_icon {
  font-size: 15rem;
  color: $color-brand-black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.get_started_content {
  margin: 0 auto;
  padding: $se-xl $se-md $se-md $se-md;
  max-width: $width-content;
  background-color: $color-brand-color;
  color: $color-white;
  box-shadow: $default-box-shadow;
}

.get_started_heading {
  text-align: center;
  font-size: 8rem;
  line-height: 10rem;
  font-weight: 400;
  margin-bottom: $se-lg;
}

.newsletter_content {
  margin: 0 auto;
  padding: $se-md;
  max-width: $width-content;
}
