@import "./../components/variables";

.header {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.section {
  padding: $se-lg $se-sm;
  max-width: $width-content;
  margin: 0 auto;
}

.newsletter_content {
  margin: 0 auto;
  padding: $se-md;
  max-width: $width-content;
}

.contact_content {
  background-color: $color-brand-color;
  padding: $se-md;
  color: $color-white;
}

.hero {
  margin: 0 auto;
  max-width: 120rem;
}
