// VARIABLES

$default-box-shadow: 0.5rem 0.5rem 0.5rem rgba(#000, 0.3);

// Colors
$color-brand-color: #0081ff;
$color-brand-black: #373737;

$color-danger: #fd00ff;
$color-warn: #ff7e00;
$color-okay: #02ff00;

$color-white: #ffffff;
$color-off-white: #f7f7f7;
$color-black: #000000;

$color-hyperlink: $color-brand-color;
$color-hyperlink-hover: darken($color-hyperlink, 5%);

$color-yelp-red: #c41200;

// Content Widths
$width-blog: 700px; // 1 rem should be 10px at base
$width-content: 1024px;
$width-max: 1920px;

// Font

$lead-font-multiplier: 1.3;

$default-font-size: 1.6rem;
$default-lead-font-size: $default-font-size * $lead-font-multiplier;
$default-content-font-family: "Roboto", sans-serif;

$heading-multiplier: 1.15;
$font-size-h6: $default-font-size * $heading-multiplier;
$font-size-h5: $font-size-h6 * $heading-multiplier;
$font-size-h4: $font-size-h5 * $heading-multiplier;
$font-size-h3: $font-size-h4 * $heading-multiplier;
$font-size-h2: $font-size-h3 * $heading-multiplier;
$font-size-h1: $font-size-h2 * $heading-multiplier;

@function calculate-line-height($font-size, $heading: false) {
  @if $heading == true {
    @return $font-size * 1.2;
  }
  @return $font-size * 1.5;
}

// Spacing elements (padding, margin)
$se-xs: 0.75rem;
$se-sm: 2rem;
$se-md: 4rem;
$se-lg: 7rem;
$se-xl: 10rem;

// Extension classes

%container {
  width: 100%;
  display: block;
}

%lead-text {
  font-family: $default-content-font-family;
  font-size: $default-lead-font-size;
  line-height: calculate-line-height($default-lead-font-size);
  font-style: italic;
}
