@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:ital,wght@0,100;0,400;0,700;1,400&display=swap');
@import "./reset";
@import "./base";
@import "./variables";

// Essential tag definitions

body {
  font-family: $default-content-font-family;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: $color-brand-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $default-heading-font-family;
  text-transform: none;
}

h1 {
  font-size: 5rem;
  line-height: 7rem;
  font-weight: 400;
}

h2 {
  font-size: 3.75rem;
  line-height: 5rem;
}

h3 {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

h4,
h5,
h6 {
  font-weight: bold;
}

h4 {
  font-size: 2rem;
  line-height: 3rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

h6 {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

i {
  font-style: italic;
}

b,
em,
strong {
  font-weight: 800;
  color: $color-brand-color;
}

a {
  position: relative;
  text-decoration: none;
  color: $color-brand-black;
  border-bottom: solid 2px $color-hyperlink;
  overflow: hidden;
  transition: all 0.25s;
  &:hover {
    border-bottom: solid 2px transparent;
    background-color: lighten($color-hyperlink-hover, 40%);
  }
}

blockquote {
  font-style: italic;
  padding: $se-xs $se-sm;
  border-left: solid 2px $color-brand-color;
  margin-bottom: $se-sm;
  background-color: $color-off-white;
}

input,
button {
  &:disabled {
    cursor: not-allowed;
    &:hover {
      background-color: $color-danger;
      color: $color-white;
    }
  }
}

p,
li {
  line-height: 150%;
  @media only screen and (max-width: 1440px) {
    font-size: 100%;
  }

  @media only screen and (max-width: 1280px) {
    font-size: 110%;
  }

  @media only screen and (max-width: 1120px) {
    font-size: 120%;
  }

  @media only screen and (max-width: 960px) {
    font-size: 130%;
  }

  @media only screen and (max-width: 800px) {
    font-size: 140%;
  }

  @media only screen and (max-width: 640px) {
    font-size: 150%;
  }
}
